// .cc-list, .cc-list tr, .cc-list tr td {
//   background-color: @background-color;
// }

.cc-list {
  margin: (2 * @unit) (4 * @unit);

  button.btn-primary {
    margin-top: 20px;
  }

  button {
    margin-left: 5px;
  }
}

.cc {
  .bordered;
  .rounded-corners;
  background-color: @background-color;
  margin: @unit 0;
  padding: @unit;
  display: inline-block;
  vertical-align: middle;
  max-width: 394px;
  min-width: 394px;
}

.cc.selected {
  .bordered(1px, @green);
}

.cc-brand {
  // .bordered(2px, @dark-gray);
  // .rounded-corners(5px);
  padding: 2px 4px;
}

@cc-modal-width: 350px;

body .cc-modal { 
  width: @cc-modal-width;
  margin-left: (-0.5 * @cc-modal-width);
}

.cc-form {
  padding: (2 * @unit);
  height: 120px;

  input {
    height: 50px;
    width: 100%;
  }

  input[ng-model="card.number"] {
    margin-right: @unit;
    // background-image: url(../../images/brands/visa.png);
    background: white url(../../images/brands/generic.png) 97% 50% no-repeat;
    background-size: 25px;
  }

  input[ng-model="card.expiry"] {
    width: 75px;
    margin-right: @unit;
  }

  input[ng-model="card.cvc"] {
    width: 55px;
  }
}

.visa {
  background-image: url(../../images/brands/visa.png) !important;
}

.mastercard {
  background-image: url(../../images/brands/mastercard.png) !important;
}

.discover {
  background-image: url(../../images/brands/discover.png) !important;
}

.amex {
  background-image: url(../../images/brands/amex.png) !important;
}