@red-color: rgb(253, 99, 81);
@green-color: rgb(34, 194, 173);
@gray-color: rgb(215, 215, 215);

@background-color: white;
@border-color: @gray-color;
@main-background-color: rgb(249, 248, 246);
@sidebar-background-color: rgb(244, 243, 240);