/* Base Colors */

@red: rgb(255, 105, 80);
@green: rgb(0, 200, 176);
@gray: rgb(215, 215, 215);
@mid-gray: rgb(100, 100, 100);
@dark-gray: rgb(143, 139, 139);
@blue: rgb(0, 115, 222);
@black: rgb(36, 45 ,50);
@white: rgb(249, 247, 246);

/* Semantic Colors */

@background-color: white;
@border-color: @gray;
@main-background-color: rgb(249, 248, 246);
@sidebar-background-color: rgb(244, 243, 240);

/* Flat UI Overrides */

@firm: @blue;




/* Units */
@unit: 10px;

@small-font-size: 14px;
@medium-font-size:18px;
@big-font-size: 24px;
@large-font-size: 32px;
@huge-font-size: 44px;

/* Fonts */

.avenir-book {
  font-family: AvenirLTPro-Book !important;
}

.avenir-black {
  font-family: AvenirLTPro-Black !important;
}