.navbar-inner {
  background-color: @background-color;
}

.nav.action-bar {
  margin-left: (15 * @unit);

  img {
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    display: block;
  }

  a {
    color: @gray !important;
  }

  a:hover {
    color: @dark-gray !important;
  }
}

.bottom-nav {
  .bordered-top;
  padding-top: @unit;
  margin-top: @unit;

  div {
    margin: @unit;
    a {width: 32%;}
  }

  div:last-child {
    margin-left: 70px;
  }

  a {
    display: inline-block;
    margin: 0;
    padding: 0;

    text-align: center;
    font-weight: bold;
    color: @dark-gray;
  }
}