.navbar-inner {
  background-color: @firm;
  .rounded-corners(0);
  .bordered-bottom(1px, @dark-gray);
  height: 77px;

  .nav-brand {
    // margin-top: -10px;
    margin-left: -50px;
    p {
      vertical-align: middle;
      font-size: @big-font-size;
      color: white;
      display: inline;
    }
    img {
      display: inline;
      margin-top: -5px;
    }
  }

  .btn-pending {
    margin-top: -5px;
    margin-left: -30px;
    .circle(30px, @dark-blue);
    // .bordered;
    p {
      margin: auto;
      width: 20px;
      height: 20px;
      padding-top: 5px;
      padding-left: 1px;
      text-align: center;
      font-size: @small-font-size;
    }
  }

  .btn-pending.actionable {
    background-color: @red;
    box-shadow: inset 0 0 1px 1px #888;
  }
}

.navbar-contents {
  .max-width-centered;
}

.navbar .nav > li > a, 
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a {
  color: white !important;
  img {
    margin-top: -5px;
    margin-right: 5px;
  }
}

.navbar .nav.pull-right > li > a:hover,
.navbar .nav.pull-right > li.active > a:hover,
.navbar .nav.pull-right > li.active > a {
  text-decoration: underline;
}

.bottom-nav {
  padding-top: @unit;
  margin-top: (@unit);
  width: (960px / 3 - 1);

  .bottom-nav-logo-container {
    .bordered-top;

    img {
      display: block;
      width: 34px;
      margin: auto;
      margin-top: -11px;
    }
  }

  div:nth-child(2) {
    margin: @unit;
    a {width: 32%;}
  }

  div:nth-child(3) {
    margin-left: 75px;
    a {width: 32%;}
  }

  a {
    display: inline-block;
    margin: 0;
    padding: 0;

    text-align: center;
    font-weight: bold;
    color: @dark-gray;
  }

  a:hover {
    color: @black;
  }
}