div[ng-controller="PendingCtrl"] {
  display: inline-block;
}

.pending-list {
  width: 400px;
  height: 400px;
  overflow: scroll;
  margin-top: -10px;
  margin-left: -20px;
}

.pending-item {
  .bordered-bottom;
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.pending-item:hover {
  background: @dark-gray;
  p {
    color: @white;
  }
}

.pending-item:last-child {
  border-width: 0;
}

.popover {
  // top: 67px !important;
  top: 55px !important;
  left: -193px !important;
  max-width: 400px;

  /*h3 {
    background: @green;
  }*/

  box-shadow: 0 0 5px 1px #888888;
}

/*.popover.bottom .arrow {
  border-bottom-color: @green;
}*/

.pending-profile-picture {
  .bordered(1px, @white);
  .rounded-corners(3px);

  width: 60px;
  height: 60px;
  float: left;
  margin-right: @unit;
  
  .image-content-fill('/images/dawwww.jpg');
  background-size: cover;
}