@splash-body-margin: (5 * @unit);

.splash {
  min-width: 1440px;

  nav {
    background: @white;
    height: 124px;

    .nav-content {
      .max-width-centered;
      .evenly-brand {
        display: inline-block;
        margin: 20px 0;
        p {
          color: @black;
          font-size: @big-font-size;
        }
      }

      .buttons {
        margin-top: 25px;
      }
    }
  }
}

.btn-splash {
  .rounded-corners(400px);

  margin: 10px;
  width: 150px;
  height: 38px;
  background: @blue;
  color: @white;
  font-weight: 800;
  font-size: 13px;

  // display: none;
}

.btn-splash-inverse {
  .bordered(1px, @border-color);
  background: white;
  color: @black;

  display: inline-block;
}

.centerpiece {
  margin-top: -10px;
  .image-content-fill('/images/blur.png');

  .item {
    
    .tagline-title {
      background: @blue;
      height: 100px;
      padding-top: 23px;

      h1 {
        .max-width-centered;

        color: white;
        font-weight: normal;
        font-size: @large-font-size;
        text-align: center;
      }
    }

    .tagline-body {
      .max-width-centered(1450px);

      padding-top: 50px;
      @tagline-body-content-width: 425px;

      .tagline-body-text {
        padding-left: 220px;
        float: left;

        @tagline-body-text-height: 220px;

        .tagline-body-text-slide-1 {
          width: @tagline-body-content-width;
          // height: 281px; 
          text-align: center;
          padding: 25% 0 20px 50px;
          height: @tagline-body-text-height;

          h3 {
          }

          h4 {

          }
        }

        ul {
          // padding: 0;
          margin-bottom: 0;
          height: @tagline-body-text-height;
          list-style-type: none;
          width: @tagline-body-content-width;

          li {
            background: url("/images/checkmark.png") no-repeat 7px 7px transparent;
            padding: 5px 0px 0px 35px;

            p {
              font-size: @big-font-size;
            }
          }
        }
      }

      .tagline-body-buttons {

        .bordered-top(1px, @gray);
        width: @tagline-body-content-width;
        margin: 0 5%;

        button {
          width: 200px;
          margin: 20px auto;
          display: block;
        }

        a {
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
          padding: 0;
          width: 200px;
          display: none;
        }

        button.disabled {
          display: none;
        }

        button.btn-social-facebook, a {
          letter-spacing: 2px;
        }

        .fb-facepile {
          margin: 0 auto;
          display: block;
          width: 300px;
        }
      }

      .iphone-hand {
        .image-content-fill('/images/iphone-hand.png');

        width: 713px;
        height: 615px;
        float: right;
        display: inline;

        .iphone-content {
          width: 206px;
          height: 364px;
          margin: 77px 0 0 86px;
        }
      }
    }
  }
}

.splash-carousel-1 {.image-content-fill('/images/splash-carousel-1.gif');}
.splash-carousel-2 {.image-content-fill('/images/splash-carousel-2.gif');}
.splash-carousel-3 {.image-content-fill('/images/splash-carousel-3.gif');}
.splash-carousel-4 {.image-content-fill('/images/splash-carousel-4.gif');}
.splash-carousel-5 {.image-content-fill('/images/splash-carousel-5.png');}

.carousel-control { 
  .rounded-corners(500px);

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 450px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  cursor: pointer;
}

.carousel-control.left {
  left: 5%;
}

.carousel-control.right {
  right: 5%;
}

.subtitle {
  background: @white;
  padding: 20px;
  margin-top: -82px;
  text-align: center;

  .subtitle-content {
    .max-width-centered;

    h2 {
      font-size: @big-font-size;
    }
  }
}

.brochures {
  .max-width-centered;
  margin-top: @splash-body-margin;
}

.brochure {
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;

  h3 {
    color: @black;
    font-size: @medium-font-size;
  }

  div {
    width: 260px;
    height: 200px;
    margin: (2 * @unit) 0;
  }

  .onboarding-1 {.image-content-fill('/images/onboarding-1.png');}
  .onboarding-2 {.image-content-fill('/images/onboarding-2.png');}
  .onboarding-3 {.image-content-fill('/images/onboarding-3.png');}

  p {
    color: @dark-gray;
    font-size: 16px;
    width: 260px;
    text-align: justify;
  }

  .splash-free {
    .rounded-corners;
    .bordered(2px, @green);

    color: @green;
    font-size: @small-font-size;
    line-height: @small-font-size;
    width: 47px;
    padding: 0 5px;
    padding-top: 4px;
  }
}

.brochure:last-child {
  float: right;
  width: auto;
}

.brochure:nth-child(2) {
  margin-left: 90px;
}

nav.splash-bottom-nav {
  background: @white;
  height: 66px;
  margin-top: (@splash-body-margin);
  padding-top: @unit;

  .splash-bottom-nav-content {
    .max-width-centered;
    margin-top: @unit;
  }

  ul {
    width: 100%;
    list-style: none;
    float: right;

    li {
      float: left;
      padding: 0 20px;

      a {
        color: @dark-gray;
        font-size: @small-font-size;
      }

      a:hover {
        color: @black;
      }
    }
  }
}