@splash-body-margin: (5 * @unit);

.splash {
  min-width: 1300px;

  .header {
    background: @black;

    nav {
      background: @black;

      .evenly-brand {
        float: left;
        display: inline-block;
        margin: 10px;
        p {
          color: @white;
          font-size: @big-font-size;
        }
      }

      .buttons {
        float: right;
      }
    }
  }
}

.centerpiece {
  clear: both;

  .carousel-indicators {
    @carousel-indicators-width: 100px;
    // position: absolute;
    top: 70%;
    left: 50%;
    margin-left: (-0.5 * @carousel-indicators-width);
    width: @carousel-indicators-width;
  }

  @centerpiece-height: 500px;

  .tagline {
    display: inline-block;
    margin-left: @splash-body-margin;
    padding: (6 * @unit);
    height: @centerpiece-height;
    
    h1 {
      color: @white;
      font-weight: normal;
      font-size: @huge-font-size;
    }

    a {
      display: block;
      color: @white;
      margin-top: @unit;
    }
  }

  .iphone-white {
    // background: red;
    display: inline-block;
    float: right;
    width: 400px;
    height: @centerpiece-height;
    margin-left: auto;
    margin-right: 150px;

    .iphone-content {
      background: @black;
      width: 324px;
      height: 366px;
      overflow: hidden;

      padding: 0;

      margin-left: 38px;
      margin-top: 134px;
      position: absolute;
    }
  }
}

.btn-splash {
  .rounded-corners(400px);

  margin: 10px;
  width: 150px;
  background: @white;
  color: @black;
  font-weight: 800;
}

.btn-splash-inverse {
  .bordered(2px, @white);
  background: @black;
  color: @white;
}

.brochures {
  margin: @splash-body-margin;
}

.brochure {
  vertical-align: top;
  width: 33%;
  padding: @unit;
  display: inline-block;

  h3 {
    color: @black;
    font-size: @big-font-size;
  }

  p {
    color: @dark-gray;
  }

  .splash-free {
    .rounded-corners;
    .bordered(2px, @green);
    color: @green;
    padding: 2px 5px;
    display: inline;
  }
}

nav.splash-bottom-nav {
  .bordered-top;
  
  margin: (@splash-body-margin);
  padding-top: @unit;

  ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    float: right;

    li {
      float: left;
      padding: 0 20px;
      text-align: center;

      a {
        color: @dark-gray;
      }
    }
  }
}