@static-padding: (5 * @unit);

.static {
  .static-nav {
    float: left;
    width: 33%;
    height: 100%;
    padding-top: @static-padding;

    .evenly-brand {
      margin: 0 @static-padding;
      font-size: @huge-font-size;
      color: @black;
    }

    li.active {
      a {
        background: white;
        color: @black;
      }
    }

    a {
      color: @dark-gray;
    }

    a:hover {
      .rounded-corners(0);
    }
  }

  .static-content {
    .bordered-left;

    float: right;
    background: @main-background-color;
    width: 67%;
    height: 100%;

    padding-top: @static-padding;
    padding-left: @static-padding;
    padding-right: 200px;

    h1 {
      font-size: @huge-font-size;
      margin-bottom: (5 * @unit);
    }

    p {
      font-size: @medium-font-size;
      color: @dark-gray;
    }
  }
}