.static {
  .static-nav {
    float: left;
    width: 33%;
    height: 100%;
    padding-top: (5 * @unit);

    .evenly-brand {
      margin: 0 (5 * @unit);
      font-size: @huge-font-size;
      color: @black;
    }

    li.active {
      a {
        background: white;
        color: @black;
      }
    }

    a {
      color: @dark-gray;
    }
  }

  .static-content {
    .bordered-left;

    float: right;
    background: @main-background-color;
    width: 67%;
    height: 100%;
  }
}