@import "../components/flat-ui/UI/less/flat-ui.less";

@import "config";
@import "mixin";

@import "nav";
@import "pending";
@import "static";
@import "carousel";
@import "action-bar";

@import "login";
@import "home";
@import "wallet";
@import "profile";
@import "splash";

@import "evenly-brand";
@import "modals";
@import "deposit";
@import "history";
@import "sources";
@import "settings";
@import "cc";
@import "ba";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: @main-background-color;
}

.offset0 {
  margin-left: 0px;
}

.content {
  .bordered-left;
  .bordered-right;
  .bordered-bottom;
  // .rounded-corners;  

  background-color: white; 
}

.main, .sidebar {
  margin-top: 77px;
}

.main {
  .bordered-right;
  // .rounded-corners-left;

  min-height: 500px;
  background-color: white;
}

.sidebar {

}

h1, h2, h3, h4, h5, p, a, td, form, input, textarea {
  .avenir-book;
}

strong {
  .avenir-black;
}