@import "../components/flat-ui/UI/less/flat-ui.less";

@import "colors";
@import "mixin";

@import "nav";
@import "home";
@import "wallet";
@import "modals";
@import "history";
@import "sources";
@import "cc";
@import "ba";

@unit: 10px;

@medium-font-size:18px;
@big-font-size: 24px;

.offset0 {
  margin-left: 0px;
}

.content {
  .bordered;
  .rounded-corners;  

  width: 921px;
  background-color: @sidebar-background-color; 
}

.main {
  background-color: @main-background-color;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: @border-color;
}

.sidebar {
  /*height: 100%;*/
}

// .btn {
//   &.btn-primary {
//     .swap-button-color(@primary-button-color, @button-primary-hover, @button-primary-active);
//   }
// }