.wallet {
  padding: @unit;

  h3 {
    font-size: @big-font-size;
    margin-top: @unit;
    margin-left: @unit;
    margin-bottom: (2 * @unit);
  }

  table {
    width: 100%;

    tr {
      // .bordered-bottom;

      td {
        // padding: (1.5 * @unit);
        padding-left: 0;
      }

      td:first-child {
        font-size: @medium-font-size;
        color: @black;
      }

      td:last-child {
        text-align: right;
      }
    }
  }

  li:last-child {
    margin-top: 10px;
    
    button {
      width: 112px;
    }

    button:first-child {
      margin-right: 25px;
    }
  }
}

.wallet-balance {
  font-size: @medium-font-size;
  font-weight: bold;
  color: @green;
}

.wallet-cc-number, .wallet-bank-number {
  color: @dark-gray;
}

