<div class="row" ng-controller="ActionBarCtrl">
  <ul class="nav nav-pills pull-right">
    
    <li ng-controller="PaymentCtrl">
      <a class="btn btn-primary" ng-click="showPaymentModal()"><i class="fui-heart"> Send</i></a>

      <div modal="paymentShouldBeOpen" close="hidePaymentModal()" options="opts">
        <eve-exchange-modal type="payment" submit="makePayment()" hide="hidePaymentModal()">
        </eve-exchange-modal>
      </div>

    </li>

    <li ng-controller="RequestCtrl">
      <a class="btn btn-primary" ng-click="showRequestModal()"><i class="fui-eye"> Request</i></a>

      <div modal="requestShouldBeOpen" close="hideRequestModal()" options="opts">
        <eve-exchange-modal type="request" submit="makeRequest()" hide="hideRequestModal()">
        </eve-exchange-modal>
      </div>

    </li>

  </ul>
</div>