<div modal="pendingConfirmModalShouldBeOpen" close="close()" option="opts">
  <div class="modal-header">
    <h3>Confirm Your Account</h3>
  </div>

  <div class="modal-body">
    <div class="pending-profile-picture" 
      style="background-image: url('/images/lock.png')">
    </div>
    <p class="pending-first-line">
      <span class="pending-title">
        <strong>Please confirm your Evenly Account</strong>
        <br>
        We've sent a confirmation email to {{$root.me.email}}.  Please
        click the link within that email to verify your address.
        <br>
        <br>
        Then come back and reload the page.  Thanks!
      </span>
    </p>
  </div>

  <div class="modal-footer">
    <button 
      class="btn btn-primary" 
      ng-click="sendConfirmation()"
      ng-disabled="sendingConfirmation">{{sendingConfirmation && 'Sending...' || 'Resend Email'}}</button>
  </div>
</div>