<div class="static">
  <ng-include src="'views/static-nav.html'"></ng-include>

  <div class="static-content">
    <table>
      <tr>
        <td>General Inquiries</td>
        <td><a href="mailto:info@evenly.com" class="btn"><span class="fui-mail"></span></a></td>
        <td><a href="mailto:info@evenly.com">info@evenly.com<a></td>
      </tr>

      <tr>
        <td>Support</td>
        <td><a href="mailto:support@evenly.com" class="btn"><span class="fui-mail"></span></a></td>
        <td><a href="mailto:support@evenly.com">support@evenly.com</a></td>
      </tr>

      <tr>
        <td>Feedback</td>
        <td><a href="mailto:feedback@evenly.com" class="btn"><span class="fui-mail"></span></a></td>
        <td><a href="mailto:feedback@evenly.com">feedback@evenly.com</a></td>
      </tr>

      <tr>
        <td>Twitter</td>
        <td><a href="http://www.twitter.com/getevenly" target="_blank" class="btn"><span class="fui-twitter"></span></a></td>
        <td><a href="http://www.twitter.com/getevenly" target="_blank">@getevenly</a></td>
      </tr>

      <tr>
        <td>Twitter Support</td>
        <td><a href="http://www.twitter.com/evenlysupport" target="_blank" class="btn"><span class="fui-twitter"></span></a></td>
        <td><a href="http://www.twitter.com/evenlysupport" target="_blank">@evenlysupport</a></td>
      </tr>

      <!-- <tr>
        <td>Facebook</td>
        <td><a href="http://www.facebook.com/getevenly" class="btn"><span class="fui-facebook"></span></a></td>
        <td><a href="http://www.facebook.com/getevenly">facebook.com/getevenly</a></td>
      </tr> -->
    </table>
  </div>
</div>

<script>
  $('.container').css('width', '100%');

  var resize = function() {
    var screenHeight = $(document).height();
    $('.static').css('height', screenHeight);
  }

  window.onresize = resize;
  resize();

</script>