<div class="static">
  <ng-include src="'views/static-nav.html'"></ng-include>

  <div class="static-body">
    <div class="static-content faq">
      <h2>
        Why’re you changing the name?
      </h2>
        <p>
          This question is so important we dedicated an entire blog post to answering
          it. Please visit the <a href="http://blog.evenly.com" target="_blank">Evenly Blog</a>
          to learn more about our rationale and process. We hope you love Evenly as much as we do!  
        </p>

      <h2>
        What’s different?
      </h2>
        <p>
          We’ve not only updated our name and brand, but we’ve also incorporated a 
          lot of your feedback, making improvements to everything from signing in to
          managing a group request. Below are a few highlights: 
        </p>
        <p>
          <strong>Easier payments and requests.</strong> Based on suggestions from 
          users like you, we’ve upgraded the payment and request process (see below). 
          Sending a payment and request is now faster, easier, and more intuitive.
          <div class="faq-images-pay">
            <img src="/images/faq/pay-1.jpg"></img>
            <img src="/images/faq/pay-2.jpg"></img>
            <img src="/images/faq/pay-3.jpg"></img>
            <img src="/images/faq/pay-4.jpg"></img>
          </div>
        </p>
        <p>
          <strong>Improved group requests.</strong> Requesting money from a group 
          is easier than ever. 

          <ul>
            <li>
              <p>
                We’ve simplified the creation process. With Evenly, you can quickly select 
                participants, set the amount(s) and add a description. It now takes less 
                than 1 minute for 10 friends to pay you back for dinner!
              </p>
            </li>
            <li>
              <p>
                We've enabled multiple payment options.  When planning a vacation, dinner or 
                BBQ, your friends probably don’t all owe you the same amount. To 
                make the collection process easier, you can create different payment 
                options within group requests. We hope you’ll like it. 
              </p>
            </li>
          </ul>

          <div class="faq-images-group-request">
            <img src="/images/faq/group-request.jpg"></img>
          </div>
        </p>
        <p>
          <strong>Evenly feed.</strong> View your activity feed from within the Evenly app. Your feed
          helps you better engage with friends, see the activity happening around you, 
          and discover new ways to use Evenly. 

          <div class="faq-images-feed">
            <img src="/images/faq/feed.jpg"></img>
          </div>
        </p>
        <p>
          <strong>Facebook integration.</strong> You can now connect with Facebook to make sending and
          requesting money even easier. Send requests and payments to Facebook friends 
          and remind them via Facebook messages. Connecting with Facebook also helps 
          you grow your Evenly network and increase the power of your feed. 
        </p>

      <h2>
        Will Evenly charge any fees?
      </h2>
        <p>
          Like Ivy, Evenly will remain a <strong>free</strong> service. (Look around, there’s no fine print.) 
        </p>

      <h2>
        What will happen to my Ivy account? 
      </h2>
        <p>
          All of the information in your Ivy account will remain entirely intact. 
          We’ve backed up our backups and then backed it all up again to ensure 
          none of your data or information is altered or lost in any way. 
          Your card and bank information, transaction history, balance and pending 
          requests will all remain unchanged and be readily accessible via Evenly. 
        </p>
        <p>
          Once we’ve officially changed our name, simply visit 
          <a href="www.evenly.com">www.evenly.com</a> to access your information 
          and begin making payments, requests, and withdrawals.  And when you log 
          into Evenly, be sure to use your exact same Ivy email and password credentials. 
        </p>
        <p>
          We know this is a big change, so please email us at 
          <a href="mailto:support@paywithivy.com">support@paywithivy.com</a> 
          or <a href="mailto:support@evenly.com">support@evenly.com</a> if you 
          have any questions. We’re here to help 24/7. 
        </p>

      <h2>
        I’m an existing Ivy user, do I need a new account to use Evenly?
      </h2>
        <p>
          Nope. When we make this transition, simply visit the Evenly website or 
          open the Evenly application and enter your <strong>exact</strong> 
          same Ivy email/password credentials. You will instantly be taken to your 
          Evenly account, which will include all of your prior Ivy information, 
          including banks, cards, history, balance, and more.
        </p>

      <h2>
        What will happen to the Ivy website?
      </h2>
        <p>
          Once we transition, the Ivy website will show you a message alerting you 
          to the name change and asking you to visit 
          <a href="www.evenly.com">www.evenly.com</a> to log in and access your account information. 

          By logging in to Evenly, you’ll have access to all of your same account 
          information - banks, cards, history, balances, and more. Therefore, 
          you’ll no longer have or need access to the Ivy website after we 
          officially become Evenly. 
        </p>

      <h2>
        What will happen to my Ivy app?
      </h2>
        <p>
          Once we’re officially Evenly, you’ll see a message upon opening your Ivy app, 
          which will prompt you to upgrade to the new Evenly version. Once downloaded, 
          you can sign in using your old Ivy credentials. 
        </p>
        <p>
          From the Evenly app, you’ll be able to access all of your same Ivy account 
          information — banks, cards, history, balances, and more — and instantly 
          be able to make payments, requests and withdrawals. Therefore, you’ll no
          longer have or need access to your old Ivy application. 
        </p>
        <p>
          If you liked the Ivy application, you’ll love the Evenly version. It’s 
          faster, more intuitive and incorporates all of the feature improvements 
          mentioned above. 
        </p>

      <h2>
        Does Evenly have an iOS app?
      </h2>
        <p>
          Absolutely. And you’ll love it. We’ve spent the last two months building 
          and refining the Evenly user experience. We’ve made quite a few changes 
          and updates along the way:
          <ul>
            <li>
              <p>
                Paying and requesting is now faster and more intuitive. 
              </p>
            </li>
            <li>
              <p>
                Connecting with Facebook makes sending and requesting even easier. 
              </p>
            </li>
            <li>
              <p>
                Evenly gives you a newsfeed that helps you discover what’s happening 
                around you, see when friends join the platform, and more. 
              </p>
            </li>
            <li>
              <p>
                You can now create and respond to group requests right from within the app. 
              </p>
            </li>
            <li>
              <p>
                And more... 
              </p>
            </li>
          </ul>
        </p>

      <h2>
        What happens to my Ivy balance? 
      </h2>
        <p>
          If you have any money in your Ivy account when we make this change, 
          it’ll seamlessly be accessible via Evenly. You’ll be able to instantly 
          access those funds and send them to friends or deposit them into your 
          bank account from the Evenly website or mobile app. You don’t need to do 
          anything to make sure your balance move with you — we’ll handle all the 
          details, so you can relax. 
        </p>
        <p>
          Protecting you and your money is our foremost concern.  If you have any 
          questions, please email us at <a href="mailto:support@paywithivy.com">support@paywithivy.com</a>
          or <a href="mailto:support@evenly.com">support@evenly.com</a>. 
        </p>

      <h2>
        What’ll happen to my pending charges and group charges?
      </h2>
        <p>
          We’ve spent weeks ensuring that none of your data or activity will be 
          lost or altered during this transition. That means all of your pending 
          charges and group charges will be accessible via the Evenly website and 
          app. If friends owe you money, you’ll be able to see that information 
          and send reminders immediately upon signing into Evenly. 
        </p>

      <h2>
        What’ll happen to my credit card, debit card, and bank information?
      </h2>
        <p>
          We’ve made sure this will be an entirely seamless transition. When 
          you log into Evenly or use the Evenly app, your credit and/or debit card 
          information, along with bank data will be readily accessible. You won’t 
          need to enter it again. 
        </p>

      <h2>
        Will I have access to my Ivy transaction history via the Evenly site / app?
      </h2>
        <p>
          Absolutely. All of your Ivy data and information will migrate with you 
          to the new Evenly website. When you log into Evenly, you’ll be able to 
          see all of your past Ivy activity. We know you’ll still want access to 
          this data, so we’ve been working for weeks to ensure it’s readily available. 
        </p>

      <h2>
        When will Ivy officially become Evenly? 
      </h2>
        <p>
          We’re working as hard as we can to get it to you as fast as possible. 
          Our team and early users are still fine-tuning some new features and 
          we'll be officially revealing Evenly in July.  We can't wait!
        </p>

      <h2>
        Can I close my Ivy account before this transition? 
      </h2>
        <p>
          Thanks so much for signing up for Ivy in the first place. You’re a big 
          reason we’ve grown so quickly and facilitated such large volumes in this 
          short time period. 
        </p>
        <p>
          All of our customers are extremely important to us and we’d certainly 
          be sad to see you go. We understand this is a big transition. But, we’re 
          taking this risk because we know you’ll love the new site and our new features. 
        </p>
        <p>
          However, if, for any reason, you’d like to close your Ivy account before
          we make this move, please email us at 
          <a href="mailto:support@paywithivy.com">support@paywithivy.com</a>. Be sure to 
          email us from the address that’s tied to your Ivy account, so we can 
          confirm the request’s authenticity. We’ll take care of it right away. 
          No questions asked. 
        </p>
        <p>
          Thanks so much for using Ivy! And if you do decide to leave us, we hope 
          you’ll come back and check out Evenly soon! 
        </p>
      </div>

      <div class="static-footer">
        <img src="/images/logo-inverse-huge.png"></img>
      </div>
  </div>
</div>