<div class="future">
	<ul class="nav nav-pills">
		<li><a href="/#/splash">Learn More</a></li>
		<li><a href="/#/faq">FAQ</a></li>
		<li><a href="/#/login">Sign In</a></li>
	</ul>

	<div class="header">
		<p class="pictures"><span class="icon evenly"></span> <span class="plus">+</span> <span class="icon square"></span></p>
		<p class="text">
			We're proud to announce that <br>
			Evenly is joining Square!
		</p>
	</div>

	<div class="content">
		<div class="text">
			<p>
				Over the past 18 months, we've been honored to help our users pay friends, fund
				vacations, share adventures, and much, much more.  Along the way, we've been
				fueled by the belief that simplifying everyday payment experiences can help people
				better enjoy life's moments.  So, we couldn't imagine a better place to continue 
				our journey than at Square.
			</p>

			<p>
				At Square, we'll be able to help millions of consumers and merchants, 
				and tackle huge challenges alongside some of the most talented people in
				the industry.  Together, we'll continue to bring simplicity, transparency, 
				and immediacy to your commerce experiences.  We're thrilled about the
				opportunity ahead!
			</p>

			<p>
				Thank you for giving Evenly your trust and letting us move your money.  It's
				been an honor!  As part of joining Square, we'll be closing Evenly, but,
				rest assured, you'll have plenty of time to deposit your balances 
				(<a href="/#/faq">learn more</a>).
			</p>

			<p>
				We hope you continue the journey with us and check out Square 
				<a href="https://square.com/cash">Cash</a>, <a href="https://square.com/wallet">Wallet</a>, 
				<a href="https://square.com/register">Register</a> and <a href="https://square.com/market">Market</a>!
			</p>

			<p>
				Best, <br>
				The Evenly Team
			</p>
		</div>
	</div>
</div>