<div class="future">
	<ul class="nav nav-pills">
		<li><a href="/#/splash">Learn More</a></li>
		<li><a href="/#/faq">FAQ</a></li>
		<li><a href="/#/login">Sign In</a></li>
	</ul>

	<div class="header">
		<p class="pictures"><span class="icon evenly"></span> <span class="plus">+</span> <span class="icon square"></span></p>
		<p class="text">
			Evenly is joining Square!
		</p>
	</div>

	<div class="content">
		<div class="text">
			<p>
				Over the past 18 months, we've been honored to help our users pay friends, fund
				vacations, share adventures, and much, much more.  Along the way, we've been
				fueled by the belief that simplifying everyday payment experiences can help people
				better enjoy life's moments.  We couldn't imagine a better place to continue 
				our journey than at Square.
			</p>

			<p>
				At Square, we'll help make commerce easy for millions of buyers and sellers.  
				We'll tackle huge challenges alongside so many talented engineers and designers.  
				Together, we'll continue to bring simplicity, transparency, 
				and immediacy to commerce.  We're thrilled about the
				opportunity ahead!
			</p>

			<p>
				Thank you for giving Evenly your trust.  It's
				been an honor!  While we plan to shut down Evenly in early 2014,
				rest assured, you'll have plenty of time withdraw any outstanding balances
				from your account. (Learn more <a href="/#/faq">here</a>).  We hope you'll
				continue the journey with us at Square.
			</p>

			<p>
				For press inquiries, please contact <a href="mailto:press@squareup.com">press@squareup.com</a>.
			</p>

			<p>
				Thanks, <br>
				The Evenly Team
			</p>
		</div>
	</div>
</div>