<!-- <button class="btn" ng-click="test()">Don't Click Me!</button> -->

<div class="row" id="foo">
  <div class="span12 offset0 content">
    <div class="span8 offset0 main">

      <div class="action-bar-container">
        <div class="action-bar" ng-controller="ActionBarCtrl">
          <div ng-controller="RequestCtrl">
            <a href="" ng-click="showRequestModal()">
              <img src="/images/cash-coming.png"></img>
              Send a Request
            </a>
            <div modal="requestShouldBeOpen" close="hideRequestModal()" options="opts">
              <eve-exchange-modal type="request" submit="makeRequest()" hide="hideRequestModal()">
              </eve-exchange-modal>
            </div>
          </div>

          <div ng-controller="PaymentCtrl">
            <a href="" ng-click="showPaymentModal()">
              Make a Payment
              <img src="/images/cash-leaving.png"></img>
            </a>
            <div modal="paymentShouldBeOpen" close="hidePaymentModal()" options="opts">
              <eve-exchange-modal type="payment" submit="makePayment()" hide="hidePaymentModal()">
              </eve-exchange-modal>
            </div>
          </div>
        </div>
      </div>
      
      <div class="story" ng-repeat='story in newsfeed'>
        <div class="story-profile-picture" style="background-image: url('{{story.subject.avatar_url}}')">
          <!-- <img src="{{story.subject.avatar_url}}"> -->
        </div>
        <div class="story-content">
          <img class="story-type" src="{{story.imagePath}}"></img>
          <p><strong>{{story.subject.name}}</strong> {{story.verb}} <strong>{{story.target.name}} for {{story.description}}</p>
          <!-- <p>for {{story.description}}</p> -->
          <p class="story-published">
            {{story.publishedString}} &middot; <img src="/images/heart.png"> {{story.likes.count}}</img>
          </p>
        </div>
      </div>

      <div class="stories-footer">
        <img src="/images/logo-inverse-huge.png"></img>
      </div>

    </div>

    <div class="span4 offset0 sidebar">
      
      <ng-include src="'views/bottom-nav.html'"></ng-include>

    </div>
  </div>
</div>