<!-- <button class="btn" ng-click="test()">Don't Click Me!</button> -->
<ng-include src="'views/nav.html'"></ng-include>

<div class="row" id="foo">
  <div class="span12 offset0 content">
    <div class="span8 offset0 main">

      <ng-include src="'views/action-bar.html'"></ng-include>
      
      <div class="story" ng-repeat='story in newsfeed'>
        <div class="story-profile-picture" style="background-image: url('{{story.subject.avatar_url}}')">
          <!-- <img src="{{story.subject.avatar_url}}"> -->
        </div>
        <div class="story-content">
          <img class="story-type" src="{{story.imagePath}}"></img>
          <p><strong>{{story.subject.name}}</strong> {{story.verb}} <strong>{{story.target.name}} for {{story.description}}</p>
          <!-- <p>for {{story.description}}</p> -->
          <p class="story-published">
            {{story.publishedString}} &middot; 
            <a class="heart" href="" ng-click="heartPressed(story)">
              <img src="{{heartImage(story)}}"> {{storyLikesString(story)}}</img>
            </a>
          </p>
        </div>
      </div>

      <ng-include src="'views/evenly-footer.html'"></ng-include>

    </div>

    <div class="span4 offset0 sidebar">
      
      <ng-include src="'views/bottom-nav.html'"></ng-include>

    </div>
  </div>
</div>