<div modal="inviteShouldBeOpen" close="hideInviteModal()" options="inviteOpts" ng-controller="InviteCtrl">
  <div class="modal-header">
    <button class="close" ng-click="hideInviteModal()">×</button>
    <h3>Invite your friends</h3>
  </div>

  <div class="modal-body">
    <input ng-model="email" type="email" />

    <div class="alert alert-error" ng-show="showErrors">
      <p ng-show="form.number.$error.cardNumber">invalid number</p>
      <p ng-show="form.cvc.$error.cardCVC">invalid cvc</p>
      <p ng-show="form.expiry.$error.cardExpiry">invalid expiry</p>
      <p ng-show="serverError">{{serverError}}</p>
    </div>
  </div>

  <div class="modal-footer">
    <button 
      class="btn btn-primary" 
      ng-click="invite()"
      ng-class="classForButton()">{{buttonTitle}}</button>
  </div>
</div>