<div modal="inviteShouldBeOpen" close="hideInviteModal()" options="inviteOpts" ng-controller="InviteCtrl">
  <div class="modal-header">
    <button class="close" ng-click="hideInviteModal()">×</button>
    <h3>Invite your friends</h3>
  </div>

  <div class="modal-body">
    <form name="form">
      <input ng-model="email" name="email" type="email" placeholder="joe@college.edu" />
    </form>

    <div class="alert alert-error" ng-show="!validForm() && submitAttempted">
      <p ng-show="form.email.$error.email || !email">Please enter a valid email address</p>
    </div>
  </div>

  <div class="modal-footer">
    <button 
      class="btn btn-primary" 
      ng-click="invite()">{{buttonTitle()}}</button>
  </div>
</div>