<div class="ios-download">
  <p><img src="/images/logo-wordmark.png"></p>
  <!-- <h1>for iPhone</h1> -->
  
  <div class="release" ng-hide="beta">
    <a 
      href="itms-services://?action=download-manifest&url=https://evenly.com/mobile/ios/ios-v0.4b1.plist">
      <p>Tap below to download the app </p>
      <img src="/images/ios-splash.png">
    </a>

    <a class="btn btn-huge btn-primary btn-embossed"
      href="itms-services://?action=download-manifest&url=https://evenly.com/mobile/ios/ios-v0.4b1.plist">
      Install iPhone App
    </a>
  </div>

  <div class="beta btn-group pull-left" ng-hide="!beta">
    <i class="dropdown-arrow dropdown-arrow-inverse"></i>
    <p>Pick your build version and install!</p>
    <a
      ng-href="{{selectedbetaOptionUrl()}}" 
      class="btn btn-huge btn-primary btn-embosssed">Install {{selectedBetaOption}}</a>
    <a class="btn btn-huge btn-primary btn-embossed dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-inverse">
      <li class="pull-left" ng-repeat="betaOption in betaOptions">
        <a ng-click="selectBetaOption($index)">{{betaOption}}</a>
      </li>
    </ul>
  </div>
</div>