<div class="login">
  <div class="left">
    <div class="evenly-brand">
      <a href="/"><img src="/images/logo-wordmark.png"></img></a>
    </div>
  </div>

  <div class="right">
    <form class="login-form" name="form">
      <div class="help-block">Log in to Evenly</div>

      <div class="control-group">
        <input type="text" ng-model="email" placeholder="Email" required />
      </div>

      <div class="control-group">
        <input type="password" ng-model="password" placeholder="Password" required />
      </div>
      
      <button class="btn btn-primary btn-block btn-embossed" 
        ng-click='login(email, password)'
        ng-class="{disabled: !validForm()}">{{buttonTitle}}</button>
      <div class="help-block">Don't have an account? 
        <a href="/#/signup">Sign up here.</a>
      </div>

      <div class="btn-group">
        <button class="btn" 
          ng-repeat="serverOption in serverOptions" 
          ng-class="{active: serverOption.name == selectedServerOption.name}"
          ng-click="selectServerOption(serverOption)"
          style="width: 83px;">{{serverOption.name}}</button>
      </div>

      <div ng-show="serverError" class="alert alert-error">
        <p>{{serverError}}</p>
      </div>
    </form>
  </div>

  <script>

    var resize = function() {
      var screenHeight = $(document).height();
      $('.login').css('height', screenHeight);
    }

    window.onresize = resize;
    resize();

  </script>
</div>