<nav class="navbar" ng-controller="NavCtrl">
  <div class="navbar-inner">
    <a class="brand evenly-brand" href="#/home">
      <img src="/images/logo.png"></img>
    </a>
    <div ng-controller="PendingCtrl" class="pull-left">
      <a class="btn btn-mini btn-danger" 
        ng-show="pending"
        bs-popover="views/pending.html" 
        data-title="Pending" 
        data-placement="bottom">
          
          {{pending.length}}
      </a>

      <div modal="pendingSentRequestModalShouldBeOpen" close="close()" option="opts">
        <div class="modal-header modal-header-sent-request">
          <h3>Pending Request</h3>
          <button class="close" ng-click="close()">×</button>
        </div>

        <div class="modal-body">
          {{currentRequest.subject}} {{currentRequest.verb}} 
                  {{currentRequest.target}} 
                  {{currentRequest.amount && "$" || ""}}{{currentRequest.amount}} for 
                  {{currentRequest.directObject}}
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger cancel" ng-click="cancel(currentRequest)">Cancel</button>
          <button class="btn btn-primary cancel" ng-click="remind(currentRequest)">Remind</button>
        </div>
      </div>

      <div modal="pendingReceivedRequestModalShouldBeOpen" close="close()" option="opts">
        <div class="modal-header modal-header-received-request">
          <h3>Pending Request</h3>
          <button class="close" ng-click="close()">×</button>
        </div>

        <div class="modal-body">
          {{currentRequest.subject}} {{currentRequest.verb}} 
                  {{currentRequest.target}} 
                  {{currentRequest.amount && "$" || ""}}{{currentRequest.amount}} for 
                  {{currentRequest.directObject}}
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger cancel" ng-click="reject(currentRequest)">Reject</button>
          <button class="btn btn-primary cancel" ng-click="pay(currentRequest)">Pay</button>
        </div>
      </div>

      <div modal="pendingGroupRequestModalShouldBeOpen" close="close()" option="opts">
        <div class="modal-header">
          <h3>Pending Group Request</h3>
        </div>

        <div class="modal-body">
          Group
        </div>

        <div class="modal-footer">
          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
        </div>
      </div>
    </div>

    <ul class="nav action-bar" ng-controller="ActionBarCtrl">
      
      <li ng-controller="PaymentCtrl">
        <a ng-click="showPaymentModal()"><img src="/images/cash-negative.png"></img>Send</a>

        <div modal="paymentShouldBeOpen" close="hidePaymentModal()" options="opts">
          <eve-exchange-modal type="payment" submit="makePayment()" hide="hidePaymentModal()">
          </eve-exchange-modal>
        </div>

      </li>

      <li ng-controller="RequestCtrl">
        <a ng-click="showRequestModal()"><img src="/images/cash-positive.png"></img>Request</a>

        <div modal="requestShouldBeOpen" close="hideRequestModal()" options="opts">
          <!-- <eve-exchange-modal type="request" submit="makeRequest()" hide="hideRequestModal()">
          </eve-exchange-modal> -->
          <div class="modal-header">
            <button class="btn" ng-click="debug()">debug</button>
            <h3>Request</h3>
            <button class="btn pull-right" ng-click="next()" ng-class="{disabled: nextDisabled()}">Next</button>
            <button class="btn pull-right" ng-click="prev()">Back</button>
          </div>

          <div class="modal-body">
            <!-- <accordion close-others="false">
              <accordion-group heading="Who?">
                <eve-recipient></eve-recipient>
              </accordion-group>

              <accordion-group heading="How Much?">
                <eve-amount></eve-amount>
              </accordion-group>

              <accordion-group heading="For What?">
                <eve-description>
              </accordion-group>
            </accordian> -->

            <div class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <div class="btn-group">
                    <button 
                      class="btn" 
                      ng-class="{active: requestType == 'friend'}"
                      ng-click="setFriend()">Friend</button>
                    <button 
                      class="btn" 
                      ng-class="{active: requestType == 'group'}"
                      ng-click="setGroup()">Group</button>
                  </div>

                  <eve-recipient></eve-recipient>
                  <button class="btn" ng-click="addRecipient(recipient)">add</button>

                  <div ng-repeat="recipient in recipients">
                    <p>{{recipient}}</p>
                    <button class="close" ng-click="removeRecipientAtIndex($index)">×</button>
                  </div>

                  <div class="alert alert-error" ng-show="!validRecipient() && step1Attempted">
                    <p ng-show="!validRecipient()">
                      must enter an email or select an Evenly user
                    </p>
                  </div>
                </div>

                <div class="item">
                  <div class="request-amount-friend" ng-show="requestType == 'friend'">
                    <eve-amount></eve-amount>
                  </div>

                  <div class="request-amount-friend" ng-show="requestType =='group'">
                    <tabset>
                      <tab heading="Same Amount">
                        <eve-amount></eve-amount>
                      </tab>
                      <tab heading="Different Amounts">
                        
                        <div class="control-group" ng-repeat="tier in tiers">
                          <input placeholder="Option {{$index + 1}}">{{tier.name}}</input>
                          <eve-amount></eve-amount>
                          <button class="close" ng-click="removeTierAtIndex($index)">×</button>
                        </div>

                        <button class="btn" ng-click="addTier()">Add Option</button>

                      </tab>
                  </div>
                </div>

                <div class="item">
                  <div class="request-description-friend" ng-show="requestType == 'friend'">
                    <eve-description></eve-description>
                  </div>

                  <div class="request-description-group" ng-show="requestType == 'group'">
                    <input placeholder="Ski Trip"></input>
                    <eve-description></eve-description>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button class="btn btn-primary" 
              ng-click="finishRequest()">Complete Request</button>
          </div>
        </div>

      </li>

    </ul>


    <ul class="nav pull-right">
      <li ng-class="stateForItem('home')"><a href="#/home">Home</a></li>
      <li ng-class="stateForItem('wallet')"><a href="#/wallet">Wallet</a></li>
      <li ng-class="stateForItem('profile')"><a href="#/profile">{{$root.me.firstName()}}</a></li>
    </ul>
  </div>
</nav>