<nav class="navbar navbar-fixed-top" ng-controller="NavCtrl">
  <div class="navbar-inner">
    <div class="navbar-contents">
      <a class="brand nav-brand" href="#/home">
        <img src="/images/nav/nav-logo.png"></img>
        <p>{{'$' + $root.me.balanceString()}}</p>
      </a>

      <ul class="nav">
        <li ng-controller="PendingCtrl" class="pull-left">
          <a href="" 
            ng-show="true"
            bs-popover="views/pending.html" 
            data-title="Pending" 
            data-placement="bottom"
            ng-click="clickedPendingButton()">
              
              <div class="btn-pending" ng-class="{actionable: actionable}">
                <p>{{pending.length}}</p>
              </div>
          </a>

          <div modal="pendingSentRequestModalShouldBeOpen" close="close()" option="opts">
            <div class="modal-header modal-header-sent-request">
              <h3>Pending Request</h3>
              <button class="close" ng-click="close()">×</button>
            </div>

            <div class="modal-body">
              <div class="pending-profile-picture" 
                style="background-image: url('{{currentRequest.imageUrl}}')">
              </div>
              <p class="pending-first-line">
                <span class="pending-title">
                  <strong>{{currentRequest.subject}}</strong> {{currentRequest.verb}} 
                  <strong>{{currentRequest.target}} </strong>
                </span>
                <span class="pending-amount pending-amount-coming">{{currentRequest.amount && "$" || ""}}{{currentRequest.amount}}</span>
              </p>
              <p class="pending-description">
                We shared {{currentRequest.directObject}}
              </p>
            </div>

            <div class="modal-footer">
              <button class="btn pull-left" ng-click="cancel(currentRequest)">Cancel Request</button>
              <button class="btn btn-primary" ng-click="remind(currentRequest)">Remind</button>
            </div>
          </div>

          <div modal="pendingReceivedRequestModalShouldBeOpen" close="close()" option="opts">
            <div class="modal-header modal-header-received-request">
              <h3>Pending Request</h3>
              <button class="close" ng-click="close()">×</button>
            </div>

            <div class="modal-body">
              <div class="pending-profile-picture" 
                style="background-image: url('{{currentRequest.imageUrl}}')">
              </div>
              <p class="pending-first-line">
                <span class="pending-title">
                  <strong>{{currentRequest.subject}}</strong> {{currentRequest.verb}} 
                  <strong>{{currentRequest.target}} </strong>
                </span>
                <span class="pending-amount pending-amount-leaving">{{currentRequest.amount && "$" || ""}}{{currentRequest.amount}}</span>
              </p>
              <p class="pending-description">
                We shared {{currentRequest.directObject}}
              </p>
            </div>

            <div class="modal-footer">
              <button class="btn pull-left" ng-click="reject(currentRequest)">Deny Request</button>
              <button class="btn btn-primary" ng-click="pay(currentRequest)">Pay Request</button>
            </div>
          </div>

          <div modal="pendingGroupRequestModalShouldBeOpen" close="close()" option="opts">
            <div class="modal-header modal-header-received-request">
              <h3>Pending Group Request</h3>
              <button class="close" ng-click="close()">×</button>
            </div>

            <div class="modal-body">
              <div class="pending-profile-picture" 
                style="background-image: url('{{currentRequest.imageUrl}}')">
              </div>
              <p class="pending-first-line">
                <span class="pending-title">
                  <strong>{{currentRequest.subject}}</strong> {{currentRequest.verb}} 
                  <strong>{{currentRequest.target}} </strong>
                </span>
                <span class="pending-amount pending-amount-leaving">{{currentRequest.amount && "$" || "No Payment Tier Selected"}}{{currentRequest.amount}}</span>
              </p>
              <p class="pending-description">
                We shared {{currentRequest.directObject}}
              </p>
            </div>

            <div class="modal-footer">
              <button class="btn pull-left" ng-click="rejectGroupRequest(currentRequest)">Deny Request</button>
              <button class="btn btn-primary" ng-click="payGroupRequest(currentRequest)">Pay Request</button>
            </div>
          </div>
        </li>
      </ul>

      <ul class="nav pull-right">
        <li ng-class="stateForItem('home')">
          <a href="#/home">
            <img src='/images/nav/nav-home.png'></img>
            Home
          </a>
        </li>
        <li ng-class="stateForItem('wallet')">
          <a href="#/wallet">
            <img src='/images/nav/nav-wallet.png'></img>
            Wallet
          </a>
        </li>
        <li ng-class="stateForItem('profile')">
          <a href="#/profile">
            <img src='/images/nav/nav-profile.png'></img>
            {{$root.me.firstName()}}
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>