<ng-include src="'views/nav.html'"></ng-include>

<div class="row">
  <div class="span12 offset0 content">
    <div class="span8 offset0 main">
      
      <div class="settings" ng-controller="SettingsCtrl">
        <div class="settings-user">
          <div class="profile-picture"></div>
          <div>
            <input type="text" ng-model="$root.me.name"></input>
            <input type="text" ng-model="$root.me.email"></input>
            <input type="text" ng-model="$root.me.phone_number"></input>
          </div>
        </div>

        <button class="btn btn-embossed btn-huge">Change Password</button>

        <div class="settings-fb">
          <div>
            <p>Connect with Facebook and make sending and receiving money even easier</p>
          </div>
          <div>
            <button href="" class="btn btn-large btn-social-facebook">
              <i class="fui-facebook"></i>
              Connect with Facebook
            </button>
          </div>
        </div>

        <div class="settings-notifications">
          <h4>Notification Settings</h4>
          <div class="settings-notifications-list">
            <div class="settings-notifications-setting">
              <table>
                <tr>
                  <td></td>
                  <td>Email</td>
                  <td>Phone</td>
                </tr>

                <tr>
                  <td>
                    <h5>Payments</h5>
                    <p>For your security, payment notifications are required</p>
                  </td>

                  <td>
                    <div class="switch has-switch">
                      <div class="switch-animate switch-on">
                        <input type="checkbox" checked="" data-toggle="switch">
                        <span class="switch-left">ON</span>
                        <label>&nbsp;</label>
                        <span class="switch-right">OFF</span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="switch has-switch">
                      <div class="switch-animate switch-on">
                        <input type="checkbox" checked="" data-toggle="switch">
                        <span class="switch-left">ON</span>
                        <label>&nbsp;</label>
                        <span class="switch-right">OFF</span>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="span4 offset0 sidebar">
      
      <ul class="nav nav-list">
        <li><a href="">Settings</a></li>
        <li><a href="">Invite Your Friends</a></li>
        <li><a href="">Log Out</a></li>
      </ul>

      <ng-include src="'views/bottom-nav.html'"></ng-include>

    </div>
  </div>
</div>
