<ng-include src="'views/nav.html'"></ng-include>
<div class="row profile">
  <div class="span12 offset0 content">
    <div class="span8 offset0 main">
      
      <div class="settings" ng-controller="SettingsCtrl">
        <div class="settings-user">
          <div class="profile-picture" style="background-image: url('{{$root.me.avatar_url}}')"></div>
          <div>
            <input type="text" ng-model="name"></input>
            <input type="text" ng-model="email"></input>
            <input type="text" ng-model="phoneNumber"></input>
          </div>
        </div>

        <button class="btn btn-embossed btn-huge" 
          ng-class="{disabled: !saveProfileButtonEnabled()}"
          ng-click="saveProfile()">{{saveProfileButtonTitle()}}</button>

        <div class="settings-password">
          <button class="btn btn-embossed btn-huge" ng-click="openChangePasswordModal()">Change Password</button>

          <div
            id="helpme"
            modal="changePasswordModalShouldBeOpen" 
            close="closeChangePasswordModal()" 
            option="opts">
            <div class="modal-header">
              <h3>Change Password</h3>
              <button class="close" ng-click="closeChangePasswordModal()">×</button>
            </div>

            <div class="modal-body settings-password-form">
              <div class="control-group">
                <span class="help-inline">Current Password</span>
                <input type="password" placeholder="*******" ng-model="currentPassword"></input>
              </div>
              <div class="control-group">
                <span class="help-inline">New Password</span>
                <input type="password" placeholder="*******" ng-model="password"></input>
              </div>
              <div class="control-group">
                <span class="help-inline">Confirm Password</span>
                <input type="password" placeholder="*******" ng-model="passwordConfirmation"></input>
              </div>
            </div>

            <div class="alert alert-error" ng-show="$scope.password != $scope.passwordConfirmation">
              Passwords are not the same
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary cancel" ng-click="saveProfile()">{{submitting && 'Saving Password' || 'Save Password'}}</button>
            </div>
          </div>
        </div>

        <!-- <div class="settings-fb">
          <div>
            <p>Connect with Facebook and make sending and receiving money even easier</p>
          </div>
          <div>
            <button href="" class="btn btn-large btn-social-facebook">
              <i class="fui-facebook"></i>
              Connect with Facebook
            </button>
          </div>
        </div> -->

        <div class="settings-notifications">
          <div class="settings-notifications-list">
            <div class="settings-notifications-setting">
              <table>
                <tr>
                  <td></td>
                  <!-- <td>Email</td> -->
                  <!-- <td>Phone</td> -->
                </tr>

                <tr>
                  <td>
                    <!-- <h5>Payments</h5> -->
                    <!-- <p>For your security, payment notifications are required</p> -->
                    <strong>Emails</strong>
                  </td>

                  <!-- <td>
                    <div class="switch has-switch">
                      <div class="switch-animate switch-on">
                        <input type="checkbox" checked="" data-toggle="switch">
                        <span class="switch-left">ON</span>
                        <label>&nbsp;</label>
                        <span class="switch-right">OFF</span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <div class="switch has-switch">
                      <div class="switch-animate switch-on">
                        <input type="checkbox" checked="" data-toggle="switch">
                        <span class="switch-left">ON</span>
                        <label>&nbsp;</label>
                        <span class="switch-right">OFF</span>
                      </div>
                    </div>
                  </td> -->

                  <td><input type="checkbox" ng-model="emailNotifications"></input></td>
                </tr>

                <tr>
                  <td><strong>SMS</strong></td>
                  <td><input type="checkbox" ng-model="smsNotifications"></input></td>
                </tr>
              </table>
              <strong>Receive notifications via...</strong>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="span4 offset0 sidebar">
      
      <div class="profile-nav">
        <!-- <h3>Profile</h3> -->
        <ul class="nav nav-list">
          <li><a class="btn active" href="">Settings</a></li>
          <!-- <li><a href="">Invite Your Friends</a></li> -->
          <li><a class="btn btn-embossed" href="" ng-click="logout()">Log Out</a></li>
        </ul>
      </div>

      <ng-include src="'views/bottom-nav.html'"></ng-include>

    </div>
  </div>
</div>
