<div class="reset-password">
  <p><img src="/images/logo-wordmark.png"></p>
  <h1>Reset Password</h1>
  
  <p ng-show="submitting">Please wait while we change your password</p>

  <form name="form" ng-hide="noTokenError">
    <input type="password" placeholder="password" ng-model="password" required />
    <input type="password" placeholder="re-enter password" ng-model="passwordConfirmation" required />
    <button 
      class="btn btn-primary btn-embossed"
      ng-class="{disabled: !validForm()}"
      ng-click="resetPassword()">Change Password</button>
  </form>
  
  <p ng-show="success">
    Your password has been changed! Please visit <a href="https://evenly.com">
    evenly.com<a/> or grab out iPhone app to get started.
  </p>

  <div class="errors">
    <p ng-show="serverError">{{serverError}}</p>
    <p ng-show="noTokenError">{{noTokenError}}</p>
    <p ng-show="!samePasswords() && submitAttempted">Passwords must match</p>
  </div>
</div>