<div class="login">
  <div class="left">
    <div class="evenly-brand">
      <a href="/"><img src="/images/logo-wordmark.png"></img></a>
    </div>
  </div>

  <div class="right">
    
    <div class="control-group fb-signup" ng-hide="$root.fbToken">
      <button 
        ng-click="facebookContinue()" 
        href="" 
        class="btn btn-huge btn-embossed btn-social-facebook">
        
        <i class="fui-facebook"></i>
        Continue
      </button>

      <p>Get started in 30 seconds</p>
      <a>
        <span 
          tooltip-placement="bottom" 
          tooltip="Evenly will never post on your behalf without  your permission. 
            Facebook is used to validate  user authenticity and ensure Evenly remains 
            a  safe environment.">
          Why is Facebook required?
        </span>
      </a>
    </div>

    <form ng-show="$root.fbToken" class="login-form" name="form">
      <div class="help-block">Sign Up</div>
          
      <div class="control-group" ng-class="form.name.$error">
        <input type="text" ng-model="name" placeholder="Name" required />
        <span ng-show="false" class="help-inline">Inline help text</span>
      </div>

      <div class="control-group" ng-class="form.email.$error">
        <input type="email" ng-model="email" placeholder="Email" required />
        <span ng-show="false" class="help-inline">Inline help text</span>
      </div>

      <div class="control-group" ng-class="form.phoneNumber.$error">
        <input type="tel" ng-model="phoneNumber" placeholder="Phone Number" required />
        <span ng-show="false" class="help-inline">Inline help text</span>
      </div>

      <div class="control-group" ng-class="form.password.$error">
        <input type="password" ng-model="password" placeholder="Password" required />
        <span ng-show="false" class="help-inline">Inline help text</span>
      </div>

      <div class="control-group">
        <button class="btn btn-primary btn-block btn-embossed" 
          ng-click='signup()'
          ng-class="{disabled: submitting}">{{buttonTitle}}</button>
        <div class="help-block hint">Have an account? 
          <a href="/#/login">Log in here</a>
        </div>
      </div>

      <div ng-show="serverErrors.length > 0" class="alert alert-error">
        <p ng-repeat="serverError in serverErrors">
          {{serverError}}
        </p>
      </div>
    </form>
  </div>
</div>



<script>

  var resize = function() {
    var screenHeight = $(document).height();
    $('.login').css('height', screenHeight);
  }

  window.onresize = resize;
  resize();

</script>