
<div id='header'>
	<div id='evenly'></div><div id='security'></div><div id='sign_in'>
</div>
<div id='car'>
	<div id='sq0' class='red'></div>
	<div id='sq1' class='red'></div>
	<div id='sq2' class='red'></div>
	<div id='sq3' class='red'></div>
	<div id='blurb'></div>
	<div id='banner'>		
		<p>Evenly is like PayPal, but built for friends and groups</p>
		<p>Effortlessly collect and send mooney for <b>free</b>.</p>
		<div id='start'></div>
		<div id='lock'></div>
		<div id='else'></div>
	</div>
</div>
<div id='split'>Don't let splitting costs impact your shared experiences</div>
<div id='ext'>
	<div id='diagram_wrapper'>
		<div><h2>Collect money, effortlessly</h2><p>Send requests and reminders to friends and track progress. Evenly helps you easily organize an event or dinner, pool money for a gift and much more.</p><div id='free'></div></div>
		<div><h2>Pay anyone, securely</h2><p>Use any debit or credit card to send money to friends anywhere, anytime. Pay any friend with an email address or phone number.</p><div id='free'></div></div>
		<div><h2>Deposit, instantly</h2><p>Whenever you'd like, quickly and easily deposit the cash you've collected into any bank account. Evenly moves fast, deposits only take 1-2 business days.</p><div id='free'></div></div>
	</div>
	<div id='phone'></div>
</div>
<div id='footer'>
	<div id='start'></div>
	<div id='bottom_line'><span class='left'></span><span class='right'><a href=''>STORY</a><a href=''>BLOG</a><a href=''>CONTACT</a><a href=''>FAQ</a><a href=''>JOBS</a><img src='/images/logo-inverse-tiny.png'></span></div>
</div>
