<div class="splash">
  
  <div class="header">
    <nav>
      <div class="evenly-brand">
        <img src="/images/logo.png"></img>
        <p>Evenly</p>
      </div>
      <div class="buttons pull-right">
        <button class="btn btn-splash btn-splash-inverse">LEARN MORE</button>
        <a href="#/login" class="btn btn-splash">SIGN IN</a>
      </div>
    </nav>

    <div class="centerpiece">
      
      <div class="tagline">
        <div id="tagline-carousel" class="carousel slide carousel-fade">
          <div class="carousel-inner">
            
            <div class="item active">
              <h1>
                Money Made Easy. <br>
                Share Expenses With Evenly.
              </h1>

              <button href="" class="btn btn-huge btn-embossed btn-social-facebook">
                <i class="fui-facebook"></i>
                Sign Up with Facebook
              </button>
              <a href="">Sign up with email instead.</a>
            </div>

            <div class="item">
              <h1>
                We don't just help you send money, <br>
                we help you collect it.
              </h1>

              <ul>
                <li><p>Easily request money from 1 friend or 20 teammates.</p></li>
                <li><p>Stop nagging friends, we'll help you send reminders until you're paid.</p></li>
                <li><p>Track progress and deposit cash into your bank in seconds.</p></li>
              </ul>

              <button href="" class="btn btn-huge btn-embossed btn-social-facebook">
                <i class="fui-facebook"></i>
                Sign Up with Facebook
              </button>
              <a href="">Sign up with email instead.</a>
            </div>

            <div class="item">
              <h1>
                Pay anyone, anywhere, <br>
                at anytime.
              </h1>

              <ul>
                <li><p>Friends don't need Evenly accounts to receive money</p></li>
                <li><p>Pay anyone with an email address or phone number</p></li>
                <li><p>Use Evenly on-the-go with our mobile app</p></li>
              </ul>

              <button href="" class="btn btn-huge btn-embossed btn-social-facebook">
                <i class="fui-facebook"></i>
                Sign Up with Facebook
              </button>
              <a href="">Sign up with email instead.</a>
            </div>

          </div>
        </div>
      </div>

      <div class="iphone-white">
        <carousel interval="carouselInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <div class="iphone-content {{'splash-carousel-' + ($index + 1)}}"></div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>

  <div class="brochures">
    <div class="brochures">
      <div ng-repeat="brochure in brochures" class="brochure">
        <h3>{{brochure.title}}</h3>
        <div class="onboarding-{{$index + 1}}"></div>
        <p>{{brochure.description}}</p>
        <p class="splash-free">FREE</p>
      </div>
    </div>
  </div>

  <nav class="splash-bottom-nav">
    <div class="pull-left">
      <ul class="navbar">
        <li><a href="">© EVENLY 2013. ALL RIGHTS RESERVED.</a></li>
      </ul>
    </p>
      </ul>
    </div>
    <div class="pull-right">
      <ul class="navbar">
        <li><a href="#/story">STORY</a></li>
        <li><a href="#/blog">BLOG</a></li>
        <li><a href="#/contact">CONTACT</a></li>
        <li><a href="#/faq">FAQ</a></li>
        <li><a href="#/jobs">JOBS</a></li>
      </ul>
    </div>
  </nav>
</div>


<script>
  $('.container').css('width', '100%');

  var resize = function() {
    var screenHeight = $(document).height();
  }

  window.onresize = resize;
  resize();

  !function($) {
    $(function() {
      // carousel demo
      $('#tagline-carousel').carousel({
        interval: 10000
      });
    });
  }(window.jQuery);
</script>