<script type="text/javascript">
	var splitHtml=document.getElementById("split").innerHTML;
	splitHtml="<hr class='left'></hr><div>"+splitHtml+"</div><hr class='right'></hr>"
	document.getElementById("split").innerHTML=splitHtml;
</script>
<div id='main_wrapper'>
	<div id='header'>
		<div id='evenly'><h2></h2></div><div id='security'></div><div id='sign_in'></div>
	</div>
	<div id='car'>
		<div id='left_c' class='circle'></div>
		<div id='right_c' class='circle'></div>
		<!--<div id="hBlurb"><h2>Fund experiences with friends<br><b>easily and freely.</b></h2></div>-->
		<div id='blurb'></div>
		<div id='sq0' class='red square'></div>
		<div id='sq1' class='red square'></div>
		<div id='sq2' class='red square'></div>
		<div id='sq3' class='red square'></div>
		<div id='banner'>		
			<p>Evenly is like PayPal, but built for friends and groups</p>
			<p class='del'></p>
			<p>Effortlessly collect and send money for <b>free</b>.</p>
			<p class='del'></p>
			<div id='start'></div>
			<div id='lock'></div>
			<div id='else'></div>
		</div>
	</div>
	<div id='split'><p>Don't let splitting costs<br>impact your shared experiences</p></div>
	<div id='ext'>
		<div id='diagram_wrapper'>
			<div><h4>Collect money, effortlessly</h4><p>Send requests and reminders to friends and track progress. Evenly helps you easily organize an event or dinner, pool money for a gift and much more.</p><div id='free'></div></div>
			<div><h4>Pay anyone, securely</h4><p>Use any debit or credit card to send money to friends anywhere, anytime. Pay any friend with an email address or phone number.</p><div id='free'></div></div>
			<div><h4>Deposit, instantly</h4><p>Whenever you'd like, quickly and easily deposit the cash you've collected into any bank account. Evenly moves fast, deposits only take 1-2 business days.</p><div id='free'></div></div>
		</div>
		<div id='phone'></div>
	</div>
	<div id='footer'>
		<div id='start'></div>
		<div id='bottom_line'><span class='left'></span><span class='right'><a href=''>STORY</a><a href=''>BLOG</a><a href=''>CONTACT</a><a href=''>FAQ</a><a href=''>JOBS</a><img src='/images/logo-inverse-tiny.png'></span></div>
	</div>
</div>
