<nav class="static-nav" data-spy="affix" ng-controller="StaticNavCtrl">
  <ul class="nav nav-list pull-right">
    <li ng-class="stateForItem('story')"><a href="#/story">STORY</a></li>
    <li ng-class="stateForItem('blog')"><a href="http://blog.evenly.com" target="_blank">BLOG</a></li>
    <li ng-class="stateForItem('contact')"><a href="#/contact">CONTACT</a></li>
    <li ng-class="stateForItem('faq')"><a href="#/faq">FAQ</a></li>
    <li ng-class="stateForItem('jobs')"><a href="#/jobs">JOBS</a></li>
  </ul>

  <a class="brand evenly-brand pull-right" href="#/home">
    <img src="/images/logo.png"></img>
  </a>
</nav>