<div class="static">
  <ng-include src="'views/static-nav.html'"></ng-include>

  <div class="static-body">
    <div class="static-content">
        <h1>
            We believe that by simplifying everyday payment experiences, 
            we can help people better enjoy life’s moments. 
        </h1>
        <p>
            Vacations, BBQs, and dinners are more fun when you’re not worrying 
            about money. Despite the presence of PayPal and others, daily 
            financial interactions still cause unnecessary frustration and stress. 
            We’re trying to fix that.  
        </p>
        <p>
            In January 2013, Evenly (then called Ivy) officially launched at 
            Duke University. While there were many services that helped 
            people send money, we focused on helping folks collect it.
            After all, collecting money from friends is always a burdensome task; 
            so much so, that many experiences are avoided altogether because of it. 

        </p>
        <p>
            Within a month of launch, Evenly spread across campus, facilitating 
            $100,000 in transaction volume. And that’s just the beginning!
        </p>
        <p>
            Since then, our team has been working tirelessly to make it even 
            easier to send and collect money for just about anything. We want 
            our users to actually enjoy their payment experiences – not an easy 
            task when most people loathe dealing with money.
        </p>
        <p>
            What you see today is just the beginning. We’re building a series 
            of new features and services we know you’ll love. 
            (After all, the ideas came from users just like you!)
        </p>
        <p>
            We can’t share all of our secrets, so stay tuned. We’ll be releasing 
            many updates over the coming months.  <strong>Soon, paying a friend 
            will make you smile!</strong>
        </p>
    </div>

    <!-- <ng-include src="'views/static-bottom-nav.html'"></ng-include> -->

    <div class="static-footer">
      <img src="/images/logo-inverse-huge.png"></img>
    </div>
  </div>
</div>

<script>

  var resize = function() {
    var screenHeight = $(document).height();
    $('.static').css('height', screenHeight);
  }

  window.onresize = resize;
  resize();

</script>