<div class="static">
  <ng-include src="'views/static-nav.html'"></ng-include>

  <div class="static-content">
    <h1>This is the story of a girl...</h1>
    <p>Who cried a river and drowned the whole world <br>
        And while she looked so sad in photographs <br>
        I absolutely love her <br>
        When she smiles <br> <br>

        Now how many days in a year <br>
        She woke up with hope <br>
        But she only found tears <br>
        And I can be so insincere <br>
        Making her promises never for real <br>
        As long as she stands there waiting <br>
        Wearing the holes in the soles of her shoes <br>
        Now how many days disappear <br>
        When you look in the mirror <br>
        So how do you choose <br> <br>

        Your clothes never wear as well the next day <br>
        And your hair never falls in quite the same way <br>
        You never seem to run out of things to say <br> <br>

        [Chorus:] <br>
        This is the story of a girl <br>
        Who cried a river and drowned the whole world <br>
        And while she looked so sad in photographs <br>
        I absolutely love her <br>
        When she smiles <br> <br>

        Now how many lovers would stay <br>
        Just to put up with this shit day after day <br>
        Now how did we wind up this way <br>
        Watching our mouths for the words that we say <br>
        As long as we stand here waiting <br>
        Wearing the clothes or the soles that we choose <br>
        Now how do we get there today <br>
        When we're walking too far for the price of our shoes <br> <br>

        Your clothes never wear as well the next day <br>
        And your hair never falls in quite the same way <br>
        But you never seem to run out of things to say <br> <br>

        [Chorus:] <br>
        This is the story of a girl <br>
        Who cried a river and drowned the whole world <br>
        And while she looks so sad and lonely there <br>
        I absolutely love her <br>
        When she smiles <br> <br>

        [Guitar solo] <br> <br>

        Well your clothes never wear as well the next day <br>
        And your hair never falls in quite the same way <br>
        You never seem to run out of things to say <br> <br>

        [Chorus:] <br>
        This is the story of a girl <br>
        Who cried a river and drowned the whole world <br>
        And while she looks so sad in photographs <br>
        I absolutely love her <br> <br>

        This is the story of a girl <br>
        Whose pretty face she hid from the world <br>
        And while she looks so sad and lonely there <br>
        I absolutely love her <br> <br>

        This is the story of a girl <br>
        Who cried a river and drowned the whole world <br>
        And while she looked so sad in photographs <br>
        I absolutely love her <br>
        When she smiles <br>
        When she smiles! <br> <br>
    </p>
  </div>
</div>

<script>
  $('.container').css('width', '100%');

  var resize = function() {
    var screenHeight = $(document).height();
    $('.static').css('height', screenHeight);
  }

  window.onresize = resize;
  resize();

</script>