<div class="static">
  <ng-include src="'views/static-nav.html'"></ng-include>

  <div class="static-content">
    <h1>
        We believe that by simplifying everyday payment experiences, 
        we can help our users better enjoy life’s moments.  After all, vacations, BBQs, 
        and dinners are more fun when you’re not worrying about money.
    </h1>
    <p>
        Our story begins in mid 2012, when Sean and Zach, the Evenly cofounders, 
        set out to create the world’s best college commerce platform.  They realized that despite 
        the likes of PayPal, eBay, Venmo, Craigslist and others, far too many hours were being 
        wasted exchanging money between peers and organizations. Treasurers still spent days hassling 
        friends and balancing spreadsheets, roommates still struggled to share expenses, and clubs 
        still tabled on the quad, hoping to collect cash from their wallet-less peers. 
    </p>
    <p>
        In January 2013, after several months of planning, development and refinement, 
        Sean and Zach launched Evenly (then call Ivy) at Duke University. <strong>While there were many 
        services that helped people send money, we focused on helping folks collect it. </strong>
        And within a month of launch, Evenly spread across campus, facilitating $100,000 in 
        transaction volume. And that’s just the beginning! 
    </p>
    <p>
        Since then, the team has been working closely with our initial users, focusing on every 
        last detail, to make it easier than ever to send and collect money for just about anything. 
        We want our users to actually enjoy their payment experiences – not an easy task when 
        most people loath sending and collecting money. 
    </p>
    <p>
        With feedback in hand, we’re now building a bunch of new features and services we know 
        you’ll love. <strong>(After all, the ideas came from users, just like you!)</strong> 
    </p>
    <p>
        We can’t share all of our secrets, so stay tuned. We’ll be releasing lots of amazing stuff 
        over the coming months. <strong>Soon, paying a friend will make you smile! ||)</strong>
    </p>
  </div>
</div>

<script>
  $('.container').css('width', '100%');

  var resize = function() {
    var screenHeight = $(document).height();
    $('.static').css('height', screenHeight);
  }

  window.onresize = resize;
  resize();

</script>